<!DOCTYPE html>
<html>
<head>
  <title>Tiny App</title>
</head>
<body>
  <h1>TINY APP</h1>


  <% if ( user_object ) { %>
    <h2>Hey <%= user_object["email"] %></h2>
    <form action="/logout" method="POST">
      <button type="submit">Logout</button>
    </form>
  <% } else { %>
  <h3><a href="/register">Register here</a></h3>
  <h3><a href="/login">Login here</a></h3>
  <% } %>
</body>
</html>



