<!DOCTYPE html>
<html>
<head>
<!--   <title>Tiny Flapp</title>
 --></head>
<body>
  <h1>TINY FLAPP</h1>


  <form action="/login" method="POST">
    <H3>Login</H3>
    <input type="email" name="email" placeholder="email address..."></input><br>
      <input type="password" name="password" placeholder="password"></input><br>
    <button type="submit">Login</button>
  </form>


</body>
</html>