<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<header>
  <% include partials/_header %>
</header>
<br>
  <form>
    <H3>Create an account</H3>
    <input type="email" name="emailaddress" placeholder="email address..."></input><br>
      <input type="password" name="password" placeholder="password"></input><br>
    <button type="submit">Register</button>
  </form>
</body>
</html>