<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <!-- Add your EJS code here -->
<header>
  <% include ./partials/_header %>
</header>
    <a href="http://localhost:8080/urls/">back</a>
    <ul>
    <li><%= shortURL %> - <%= fullURL %></li>
    </ul>

<form method="POST" action="/urls/:id">
    <input type ="text" name ="longURL"></input>
    <button style="submit" value="Enter old URL...">Change Shortlink</button>
</form>

</body>
</html>